### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [11]:
## Establish Count of Unique players in 'SN' list
count_players = len(purchase_data['SN'].unique())

## Create Data Frame to store Total Players
total_players = pd.DataFrame({"Total # Players": [count_players] })

## Print Total Players Data Frame
total_players

   Total # Players
0              576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
## Establish calculations for summary data frame
distinct_count_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data['Price'].mean()
total_count = purchase_data['Purchase ID'].count()
sum_total_revenue = purchase_data['Price'].sum()

## Create data frame to store summary metrics
overall_summary_metrics = pd.DataFrame({"Number of Unique Items": [distinct_count_items],
                                        "Average Price": [average_price],
                                        "Number of Purchases": [total_count],
                                        "Total Revenue": [sum_total_revenue]})

## Format the summary Metrics with currency elements 
overall_summary_metrics["Average Price"] = overall_summary_metrics["Average Price"].map("${:,.2f}".format)
overall_summary_metrics["Total Revenue"] = overall_summary_metrics["Total Revenue"].map("${:,.2f}".format)

## Print Summary Metrics Data Frame
overall_summary_metrics

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
## Establish calculations for gender summary data frame
gender_summary_metrics = pd.DataFrame(purchase_data["Gender"].value_counts())
percentage_gender = gender_summary_metrics / total_count * 100

## Add Calculations of Percentage of Gender to DF as a column
gender_summary_metrics["Percentage of Players"] = percentage_gender

## Format Percentage of Gender to present as Percentage elents
gender_summary_metrics["Percentage of Players"] = gender_summary_metrics["Percentage of Players"].map("{:,.2f}%".format)

## Establish new DF with data presented in correct order
gender_summary_metrics1 = gender_summary_metrics[["Percentage of Players","Gender"]]
gender_summary_metrics1 = gender_summary_metrics1.rename({ 'Gender': 'Total Count'}, axis=1)

## Print re-ordered Gender Summary Metrics Data Frame
gender_summary_metrics1

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
## Perform Group By on Purchase Data based on Gender distribution
gender_purch_summary_metrics = purchase_data.groupby(["Gender"])['Purchase ID'].count().to_frame()

## Establish Gender Purchase Summary Metric Calculations
#gender_count = purchase_data.groupby(["Gender"]).count()["Price"]
gender_count = purchase_data.groupby(["Gender"]).Price.count()
gender_avg = purchase_data.groupby(["Gender"]).Price.mean()
gender_purch_sum = purchase_data.groupby(["Gender"]).Price.sum()
avg_purch_per_person = gender_purch_sum / gender_summary_metrics1["Total Count"]

#Avg Total Purchase per Person=Gender_Group["Total Purchase Value"]/Gender_Demographics["Total Count"]


## Establish Gender Purchase Summary Metrics Data Frame and store summary metrics as columns
gender_purch_summary_metrics = pd.DataFrame({"Purchase Count": gender_count,
                                             "Average Purchase Price": gender_avg,
                                             "Total Purchase Value": gender_purch_sum, 
                                             "Avg Total Purchase per Person": avg_purch_per_person})

## Format the Gender Purchase Summary Metrics with currency elements 
gender_purch_summary_metrics["Average Purchase Price"] = gender_purch_summary_metrics["Average Purchase Price"].map("${:,.2f}".format)
gender_purch_summary_metrics["Total Purchase Value"] = gender_purch_summary_metrics["Total Purchase Value"].map("${:,.2f}".format)
gender_purch_summary_metrics["Avg Total Purchase per Person"] = gender_purch_summary_metrics["Avg Total Purchase per Person"].map("${:,.2f}".format)

## Print Gender Purchase Summary Metrics Data Frame
gender_purch_summary_metrics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
## Create bins in which to place values based on age of players
bins = [0,9,14,19,24,29,34,39,150]

## Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39","40+"]

## Slice the data and place it into bins
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],bins,labels=group_labels)
#unique_names = purchase_data['SN'].unique()

## Establish Age Demographics Summary Metric Calculations
age_range_total = purchase_data["Age Ranges"].value_counts()
distinct_count_players = len(pd.unique(purchase_data['SN']))
age_range_percentage = age_range_total / distinct_count_players * 100

## Establish Age Demographics Summary Metrics Data Frame and store summary metrics as columns
age_demographics_summary_metrics = pd.DataFrame({"Percent of Players":age_range_percentage,
                                                 "Total Count":age_range_total})
## Format Percentage of Gender to present as Percentage elents
age_demographics_summary_metrics["Percent of Players"] = age_demographics_summary_metrics["Percent of Players"].map("{:,.2f}%".format)

## Sort Age Ranges Data Frame in descending order
age_demographics_summary_metrics=age_demographics_summary_metrics.sort_index()

## Print Age Demographics Summary Metrics Data Frame
age_demographics_summary_metrics

      Percent of Players  Total Count
<10                3.99%           23
10-14              4.86%           28
15-19             23.61%          136
20-24             63.37%          365
25-29             17.53%          101
30-34             12.67%           73
35-39              7.12%           41
40+                2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
## Perform Group By on Purchase Data based on Gender distribution
age_purch_summary_metrics = purchase_data.groupby(["Age Ranges"])

## Establish Gender Purchase Summary Metric Calculations
age_count = purchase_data.groupby(["Age Ranges"]).Price.count()
age_avg = purchase_data.groupby(["Age Ranges"]).Price.mean()
age_purch_sum = purchase_data.groupby(["Age Ranges"]).Price.sum()
avg_purch_per_person = age_purch_sum / age_demographics_summary_metrics["Total Count"]


## Establish Gender Purchase Summary Metrics Data Frame and store summary metrics as columns
age_purch_summary_metrics = pd.DataFrame({"Purchase Count": age_count,
                                          "Average Purchase Price": age_avg,
                                          "Total Purchase Value": age_purch_sum,
                                          "Avg Total Purchase per Person": avg_purch_per_person})

## Format the Gender Purchase Summary Metrics with currency elements 
age_purch_summary_metrics["Average Purchase Price"] = age_purch_summary_metrics["Average Purchase Price"].map("${:,.2f}".format)
age_purch_summary_metrics["Total Purchase Value"] = age_purch_summary_metrics["Total Purchase Value"].map("${:,.2f}".format)
age_purch_summary_metrics["Avg Total Purchase per Person"] = age_purch_summary_metrics["Avg Total Purchase per Person"].map("${:,.2f}".format)

## Print Gender Purchase Summary Metrics Data Frame
age_purch_summary_metrics

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
## Establish Top Spender Summary Metrics Calculations
player_sum = purchase_data.groupby(["SN"]).Price.sum()
player_avg = purchase_data.groupby(["SN"]).Price.mean()
player_count = purchase_data.groupby(["SN"]).Price.count()

## Establish Top Spender Summary Metrics Data Frame and store summary metrics as columns
top_spender_summary_metrics = pd.DataFrame({"Purchase Count": player_count,
                                            "Average Purchase Price": player_avg,
                                            "Total Purchase Amount": player_sum})

## Format the Top Spender Summary Metrics with currency elements 
top_spender_summary_metrics["Average Purchase Price"] = top_spender_summary_metrics["Average Purchase Price"].map("${:,.2f}".format)
top_spender_summary_metrics["Total Purchase Amount"] = top_spender_summary_metrics["Total Purchase Amount"].map("${:,.2f}".format)

## Sort Top Spender Summary Metrics Data Frame by Highest Puchase Count
top_spender_summary_metrics.sort_values("Purchase Count", ascending=False).head(5)

             Purchase Count Average Purchase Price Total Purchase Amount
SN
Lisosia93                 5                  $3.79                $18.96
Iral74                    4                  $3.40                $13.62
Idastidru52               4                  $3.86                $15.45
Asur53                    3                  $2.48                 $7.44
Inguron55                 3                  $3.70                $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
## Establish Most Popular Items Metrics Calculations
item_sum = purchase_data.groupby(["Item ID","Item Name"]).Price.sum()
item_avg = purchase_data.groupby(["Item ID","Item Name"]).Price.mean()
item_count = purchase_data.groupby(["Item ID","Item Name"]).Price.count()

## Establish Most Popular Items Metrics Data Frame and store summary metrics as columns
most_popular_items_summary_metrics = pd.DataFrame({"Purchase Count": item_count,
                                                   "Item Price": item_avg,
                                                   "Total Purchase Value": item_sum})

## Format the Top Spender Summary Metrics with currency elements 
most_popular_items_summary_metrics["Item Price"] = most_popular_items_summary_metrics["Item Price"].map("${:,.2f}".format)
most_popular_items_summary_metrics["Total Purchase Value"] = most_popular_items_summary_metrics["Total Purchase Value"].map("${:,.2f}".format)

## Sort Top Spender Summary Metrics Data Frame by Highest Puchase Count
most_popular_items_summary_metrics.sort_values("Purchase Count", ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
most_popular_items_summary_metrics.sort_values("Total Purchase Value", ascending = False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
143,Frenzied Scimitar,6,$1.56,$9.36

In [22]:
## Print Concludions of analysis
Output_Data=f"Conclusions to Draw from Heroes of Pymoli Analysis:\n\
---------------------------------------------------------------------\n\
(1) Heroes of Pymoli has {total_count} active players, The largest gender demographic is male at {gender_summary_metrics1['Percentage of Players']['Male']}.\n\
(2) The 2nd largest demographic is female players at {gender_summary_metrics1['Percentage of Players']['Female']}.\n\
(3) Largest age demographic bracket is (20-24) at {age_demographics_summary_metrics['Percent of Players']['20-24']} \n\
(4) 2nd and 3rd largest age demographic brackets falling between (15-19) at {age_demographics_summary_metrics['Percent of Players']['15-19']} and (25-29) at {age_demographics_summary_metrics['Percent of Players']['25-29']}."

print(Output_Data)

Conclusions to Draw from Heroes of Pymoli Analysis:
---------------------------------------------------------------------
(1) Heroes of Pymoli has 780 active players, The largest gender demographic is male at 83.59%.
(2) The 2nd largest demographic is female players at 14.49%.
(3) Largest age demographic bracket is (20-24) at 63.37%
(4) 2nd and 3rd largest age demographic brackets falling between (15-19) at 23.61% and (25-29) at 17.53%.